<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="icon" href="/img/avatar.jpg" sizes="16x16" />
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/bootstrap.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <script src="/js/jquery-3.4.1.js"></script>
        <title>LABNET</title>
    </head>
        <body class="bg">
            {{>_navbar}}
            <div class="container mt-4">   
            {{{body}}}
        </div>
    </body>

    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.js"></script>
</html>