<div class="mt-4">
    <form action="" class="form-inline justify-content-center mt-4" method="POST">
        <div class="form-group">
            <input type="text" name='codigo' class="form-control md-4" placeholder="Código" required>
        </div>
        <div class="form-group">
            <input min="0" max="1000" name="peso" type="number" class="form-control" placeholder="Peso" required>
        </div>
        <button type="submit" class="btn btn-success">atualizar</button>
    </form>
</div>
<center>
{{#if isok}}
Atualizado com sucesso!!!!
{{/if}}
</center>



<style type="text/css">
    .divLeft {
        width:400px;
        display:block;
        float: left;

    }
    .divRight {
        width:400px;
        display:block;
        float: right;

    }
</style>

<div class="divLeft"><canvas id="myChart1" width="400" height="400"></canvas></div>
<div class="divLeft"><canvas id="myChart2" width="400" height="400"></canvas></div>

<script src="/js/Chart.min.js"></script>
<script src="/js/jquery-3.4.1.js"></script>

<script>
var sucesso;
function plot(ctx, cor, t, or){
    d = {}  
    if(cor){
        d = {label: "cor", cond: "ordered"}
    }
    if(or!=undefined){
        d["origem"] = or
    }
    $.getJSON('/estoque/gerenciar/plotData', d, data=>{
        var pol = data.map(x=>x.POLIMERO)
        if(cor){
        var pol = data.map(x=>x.POLIMERO + "-" + x.COR)

        }
        var m = data.map(x=>x["SUM(MASSA)"])

        var myChart = new Chart(ctx, {
            type: t,
            data: {
                labels: pol,
                datasets: [{
                    label: 'Massa(g)',
                    data: m,
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: true
                        }
                    }]
                }
            }
        });
        
        })
 
}
var ctx = document.getElementById('myChart1').getContext('2d');
var ctx2 = document.getElementById('myChart2').getContext('2d');


plot(ctx, false, "pie", `RESPONSAVEL == "BEE"`)
plot(ctx2, true, "horizontalBar")


</script>