<div class="text-center">
    <a href="/estoque/gerenciar/cadrastar"><button type="button" class="btn btn-lg btn-primary mt-4">Cadrastar</button></a>
    <a href="/estoque/gerenciar/atualizar"><button type="button" class="btn btn-lg btn-primary mt-4">Atualizar</button></a>
</div>