<div class="text-center">
    <a href="orcamentos/maker"><button type="button" class="btn btn-lg btn-primary mt-4">Maker</button></a>
    <a href="orcamentos/fdm-ext"><button type="button" class="btn btn-lg btn-primary mt-4" disabled>FDM Ext</button></a>
    <a href="orcamentos/fdm-int"><button type="button" class="btn btn-lg btn-primary mt-4" disabled>FDM Int</button></a>
    <a href="orcamentos/cnc"><button type="button" class="btn btn-lg btn-primary mt-4" disabled>CNC</button></a>
    <a href="orcamentos/scanner"><button type="button" class="btn btn-lg btn-primary mt-4" disabled>Scanner</button></a>
    <a href="orcamentos/stratasys"><button type="button" class="btn btn-lg btn-primary mt-4" disabled>Stratasys</button></a>
</div>