<div class="text-center">
    <h1>LABORATÓRIO ABERTO DE BRASÍLA</h1>
    <a class="btn btn-primary mt-4 btn-lg" href="/orcamentos" role="button">Orçamentos</a>
    <a href="/estoque"><button type="button" class="btn btn-lg btn-primary mt-4">Estoque</button></a>
</div>